{% extends 'base.html.twig' %}

{% import "macro/event.macro.twig" as eventMacro %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    {{ include('partials/_account-navbar.html.twig') }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="fs-3 fw-bold text-end">{{ 'your-events'|trans|upper }}</div>
                <hr/>
                <div class="row justify-content-between">
                    {% for event in events %}
                        <div class="col-12">
                            {{ eventMacro.card(event) }}
                        </div>
                    {% else %}
                        <div class="list-group-item text-center text-muted fw-bold">{{ 'no-events-found'|trans|upper }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}